.employee {
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 220px;
  margin: 10px;
  transition: all .5s ease;
  position: relative;
  background-color: white;
  &:hover{
    transform: scale(1.01);
    transition: all .3s ease;
    box-shadow: 0 10px 21px -10px rgba(0,0,0,0.75);
  }
  .button-container {
    position: absolute;
    height: 228px;
    top: -20px;
    width: 218px;
    background-color: rgba(0, 255, 255, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    .button-add {
      width: 130px;
      color: white;
      font-weight: 600;
      padding: 8px 20px;
      cursor: pointer;
      border: 2px solid white;
    }
    .button-remove{
      @extend .button-add;
      color: #3dd2a9;
      background-color: white;
    }
  }

  img {
    width: 180px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  div {
    text-align: center;
    margin: 20px;
    p {
      color: #515151;
      margin: 0;
    }
  }

}
