.comparer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px; }
  .comparer table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: block; }
    .comparer table thead {
      border-bottom: 2px solid #e9e9e9; }
      .comparer table thead th {
        padding: 30px; }
      .comparer table thead tr {
        color: #5d5d5d;
        padding: 12px 20px; }
    .comparer table tbody {
      background-color: #f3f3f3; }
      .comparer table tbody tr th {
        padding: 20px;
        border-bottom: 2px solid #e9e9e9; }
      .comparer table tbody tr td {
        background-color: white;
        border-bottom: 2px solid #e9e9e9; }

/*# sourceMappingURL=style.css.map */
